useDynLib(pseudorank, .registration=TRUE)
export(psrank, psrank.numeric, psrank.data.frame, hettmansperger_norton_test, hettmansperger_norton_test.numeric, hettmansperger_norton_test.data.frame)
S3method(psrank, numeric)
S3method(psrank, data.frame)
S3method(print, pseudorank)
S3method(summary, pseudorank)
S3method(hettmansperger_norton_test, data.frame)
S3method(hettmansperger_norton_test, numeric)
importFrom(Rcpp, evalCpp)
importFrom("stats", "model.frame")
importFrom("doBy", "summaryBy")
